{% block dtd %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}{% endblock %}TODO</title>
    <meta name="description" content="{% block description %}TODO{% endblock %}"></meta>
    <meta name="keywords" content="{% block keywords %}TODO{% endblock %}"></meta>

    <link href="/site_media/images/favicon.png" rel="shortcut icon"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/site_media/css/global.css" />

    {% if debug %}  {% comment %}<!-- IN DEVELOPMENT USE LOCAL jQuery -->{% endcomment %}
        <script type="text/javascript" src="/site_media/javascript/jquery/jquery-1.4.2.min.js"></script>
    {% else %} {% comment %}<!--IN PRODUCTION USE GOOGLE JSAPI version of jQuery -->{% endcomment %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% endif %}
    
    {% block extrahead %}{% endblock %}
</head>

<body>

<div id="hdWrapper">
  <div id="hd">
    Header here

    <p>
      {% if request.user.is_authenticated %}
        You are signed in as 
        <strong> {{ request.user.username }} </strong> 
        | <a href="/logout">Sign out</a>
      {% else %}
        <a href="/openid/login">Sign in with OpenID</a>
      {% endif %}
    </p>
    
    <p><a href="/private">This requires authentication</a></p>
    
  </div>
</div>

<div id="bdWrapper">
  <div id="bd">
    {% block bodycontents %}
    {% endblock %}
  </div>
</div>

<div id="ftWrapper">
  <div id="ft">
    Footer here
  </div>
</div>

<script src="/site_media/javascript/application.js" type="text/javascript"></script>
{% block extrafooter %}{% endblock %}

{% if debug %}
<div style="display:none;"><!-- STATS: Total: %(totTime).2f Python: %(pyTime).2f DB: %(dbTime).2f Queries: %(queries)d --></div>
{% endif %}

{% if not debug %} {% comment %}<!-- PRODUCTION -->{% endcomment %}
    <!-- Start Quantcast tag -->
    <!-- End Quantcast tag -->

    <!-- Google Analytics -->
    <!-- Google Analytics -->
{% endif %}

</body>
</html>